# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Build outputs
/dist
/build
/.next
/out

# Env variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3
db.sqlite
geo*.log

# Backend uploads
backend/uploads/
